{{ if default true .Site.Params.carouselHomepage.enable }}
{{ $lang := .Site.Language.Lang }}
{{ $carouselData := index .Site.Data $lang "carousel" }}
{{ if $carouselData }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel"
                data-autoplay="{{ default true .Site.Params.carouselHomepage.auto_play }}"
                data-slide-speed="{{ default 2000 .Site.Params.carouselHomepage.slide_speed }}"
                data-pagination-speed="{{ default 1000 .Site.Params.carouselHomepage.pagination_speed }}">
                {{ range sort $carouselData "weight" }}
                <div class="item">
                    {{ if isset . "href" }}
                    <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                    {{ end }}
                        <div class="row">
                            <div class="col-sm-5 right">
                                <h1>{{ .title | safeHTML }}</h1>
                                {{ .description | safeHTML }}
                            </div>
                            <div class="col-sm-7">
                                <img class="img-responsive" src="{{ .image }}" alt="">
                            </div>
                        </div>
                    {{ if isset . "href" }}
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ else }}
<p>Carousel data not found for language: {{ $lang }}</p>
{{ end }}
{{ end }}
