<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 0px;
    width: 10%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 9px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 1px;
    display: none;
    overflow: hidden;
    background-color: #000108;
  }
  </style>
  </head>
  <body>

  <ul class="GHStar">
    {{ $url := .Get "url" }}
    {{ range getJSON $url }}
      {{ $p := . }}
      <li>
        <a href="{{ $p.webpage}}" target="_blank">{{$p.first}} {{ $p.last }}</a>,
        <a href="{{ $p.thesislink}}" target="_blank">{{$p.title}}</a>,
        ({{$p.institute}}, {{$p.graduatedate}})
        <a href="{{ $p.advisoremail}}" target="_blank">{{$p.advisor}}</a>,
        <button type="button" class="collapsible">Abstract</button>
        <div class="content">
          {{ $p.abstract}} 
        </div>
      </li>
      {{ end }}
  </ul>

  <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

  </body>

